<div class="row" id="document">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Factura</h4>
        </div>
        <div class="card-body">
          <span *ngIf="flagEdit">Factura número: {{invoiceRequest.numero}} </span> <span class="pull-right" *ngIf="flagEdit">Fecha: {{invoiceRequest.fecha | date: 'dd/MM/yyyy'}}</span> <span class="pull-right" *ngIf="!flagEdit">Fecha: {{today | date: 'dd/MM/yyyy'}}</span>
        </div>
      </div>
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Cliente</h4>
            <!-- <div class="card-category">Seleccione un Cliente</div> -->
            <button class="btn btn-info float-right" (click)="addNewClient()" *ngIf="!flagEdit">  <i class="material-icons">person_add</i></button>
  
          </div>
          <div class="card-body">
            <form [formGroup]="listForm" (ngSubmit)="saveBudget()">
              <div class="row">
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 pt-1">
                    <ngx-select-dropdown [options]="clients" [config]="dropdownSetup" formControlName="client" (change)="selectClient()" [disabled]="flagEdit"></ngx-select-dropdown>
                  </div>
                  <div class="form-group col-lg-4 col-md-4 col-sm-12 text-center">
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                <app-client-view [client]="clientView"></app-client-view>
              </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Productos</h4>
          <p class="card-category"></p>
          <button class="btn btn-info float-right" (click)="addBudgetItem()" [disabled]="!clientSelected" *ngIf="!flagEdit">Agregar Producto</button>
        </div>
  
        <div class="card-body">
          <div class="table-responsive table-upgrade">
            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Precio</th>
                  <th class="text-center">Subtotal</th>
                  <th class="text-center">Iva</th>
                  <th class="text-center">Total</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="flagDesgloseIVA">
                  <tr *ngFor="let p of invoiceRequest.productos; index as i"  >
                    <td>{{p.descripcion}}</td>
                    <td class="text-center">{{p.cantidad}}</td>
                    <td class="text-center">{{p.precio}} </td> 
                    <td class="text-center">{{p.cantidad * p.precio}} </td>
                    <td class="text-center">{{(((p.precio * p.cantidad) * p.iva.iva)/100) | number:'2.1-2' }}</td>
                    <td class="text-center">{{((p.precio * p.cantidad) + (((p.precio * p.cantidad) * p.iva.iva)/100)) |  number:'2.1-2'}}</td>
                    <td class="text-center">
                      <button class="btn btn-outline-info" (click)="removeElement(i)" *ngIf="!flagEdit"><i class="fa fa-times text-danger"></i></button>
                      <button class="btn btn-outline-info" (click)="updateElement(i)" *ngIf="!flagEdit"><i class="fa fa-edit  text-success"></i></button>
                    </td>
                  </tr>
                </ng-container>

                <ng-container *ngIf="!flagDesgloseIVA">
                  <tr *ngFor="let p of invoiceRequest.productos; index as i"  >
                    <td>{{p.descripcion}}</td>
                    <td class="text-center">{{p.cantidad}}</td>
                    <td class="text-center">{{p.precio + (p.precio * p.iva.iva)/100}} </td> 
                    <td class="text-center">{{p.cantidad * (p.precio + (p.precio * p.iva.iva)/100) |  number:'2.1-2'}} </td>
                    <td class="text-center">0</td>
                    <td class="text-center">{{p.cantidad * (p.precio + (p.precio * p.iva.iva)/100) |  number:'2.1-2'}} </td>
                    <td class="text-center">
                      <button class="btn btn-outline-info" (click)="removeElement(i)" *ngIf="!flagEdit"><i class="fa fa-times text-danger"></i></button>
                      <button class="btn btn-outline-info" (click)="updateElement(i)" *ngIf="!flagEdit"><i class="fa fa-edit  text-success"></i></button>
                    </td>
                  </tr>
                </ng-container>


                <tr>&nbsp;</tr>  
                <tr>&nbsp;</tr>  
                <tr *ngIf="totalizador > 0.00 && flagDesgloseIVA">
                  <td><b> SUBTOTAL</b></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"></td>
                  <td class="text-center"><b></b></td>   
                  <td class="text-center"><b>${{totalizador}}</b></td>
                  <td></td>     
                </tr>
                <tr *ngIf="totalizador > 0.00 && flagDesgloseIVA">
                  <td><b>IVA 21%</b></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"></td>
                  <td class="text-center"><b></b></td>   
                  <td class="text-center"><b>${{iva21}}</b></td>
                  <td></td>     
                </tr>
                   <tr *ngIf="totalizador > 0.00  && flagDesgloseIVA">
                  <td><b>IVA 10.5%</b></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"></td>
                  <td class="text-center"><b></b></td>   
                  <td class="text-center"><b>${{iva10}}</b></td>
                  <td></td>     
                </tr>
                <tr *ngIf="totalizador > 0.00  && flagDesgloseIVA">
                  <td><b> TOTAL IVA</b></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"></td>
                  <td class="text-center"><b></b></td>   
                  <td class="text-center"><b>${{iva}}</b></td>
                  <td></td>     
                </tr>
                <tr *ngIf="totalizador > 0.00">
                  <td><b>TOTAL</b></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"></td>
                  <td class="text-center"><b></b></td>   
                  <td class="text-center"><b>${{(totalizador + iva)}} </b></td>
                  <td></td>     
                </tr>
                <tr>
                  <td class="text-center"></td>
                  <td class="text-right">
                    <!-- <button href="#" class="btn btn-round btn-fill btn-default disabled" (click)="makePDF()">Generar PDF</button> -->
                  </td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                    <button href="#" class="btn btn-round btn-fill btn-default" (click)="imprimirRemitoPDF()" *ngIf="invoiceRequest.productos.length > 0 && invoiceRequest.cliente !=null">Generar Remito</button>
                    <button href="#" class="btn btn-round btn-fill btn-default" (click)="imprimirPDF()" *ngIf="flagEdit">Generar Factura</button>
                    <button  *ngIf="!flagEdit" target="_blank"class="btn btn-round btn-fill btn-info" (click)="saveBudget()">Guardar</button>
                  </td>
                  <td class="text-center"></td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
    </div>
  </div>
  