<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{title}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

    <div class="modal-body text-center">
      <p>Seleccione {{message}}</p>
      <div class="col-sm-12">
         <ngx-select-dropdown [options]="typeOfPayments" [config]="dropdownSetup" formControlName="tipoDePago" (change)="selectTypeOfPayment()"></ngx-select-dropdown>
      </div>
      <br>    
      <div class="row" *ngIf="chequeFlat">
        <hr>    
        <div class="col-sm-8">
        <label for="">Seleccione Cheque</label>
        <ngx-select-dropdown [options]="checks" [config]="dropdownSetupC" formControlName="cheque" (change)="selectCheck()"></ngx-select-dropdown>
        </div>
        <div class="col-sm-4 pt-4">
            <label for=""></label>
            <button class="btn btn-outline-info" (click)="addNewCheck()">  <i class="material-icons">receipt</i></button>
        </div>
        <div class="col-sm-12">
            <app-check-view [check] ="chequeSelected"></app-check-view>
        </div>

      </div>
      <div class="row" *ngIf="transferenciaFlat">
        <hr>    
        <div class="col-sm-12">
        <label for="">Seleccione Banco</label>
        <ngx-select-dropdown [options]="banks" [config]="dropdownSetupB" formControlName="banco" (change)="selectBank()"></ngx-select-dropdown>
        </div>
        <br>  
        <div class="col-sm-12">
            <label for="">Titular de la Cuenta</label>
            <input type="text" value="" class="form-control text-center" formControlName="titularCuenta">
        </div>
        <br>
        <div class="col-sm-6">
            <label for="">CBU</label>
            <input type="text" value="" class="form-control text-center" formControlName="CBU">
        </div>
        <div class="col-sm-6">
            <label for="">Alias</label>
            <input type="text" value="" class="form-control text-center" formControlName="alias">
        </div>

      </div>
     <br> 
     <div class="row">
      <div class="col-sm-12"> 
        <label for="">Importe</label>
        <input type="text" value="" class="form-control text-center" formControlName="importe">
      </div> 

    </div>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid">Agregar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cerrar</button>
    </div>
  </form>
  </div>
