<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-center">
  <form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
    <div class="card-body">
          <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Descripción</label>
              <input type="text"  formControlName="descripcion" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">codigo</label>
              <input type="text" formControlName="codigo" class="form-control">
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">IVA</label>
                <input type="text"  formControlName="iva" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Stock</label>
                <input type="text"  formControlName="stock" class="form-control">
              </div>
            </div>
        </div>
          <div class="row" formArrayName="precios" >
            <ng-container *ngFor="let c of categoriesClient; let i=index" [formGroupName]="i">
              <input type="hidden"  formControlName="id" class="form-control">
           <div class="col-md-6">
             <div class="form-group">
               <input type="text"  formControlName="categoria" class="form-control">
             </div>
           </div>
           <div class="col-md-6">
             <div class="form-group">
               <input type="text"  formControlName="precio" class="form-control">
             </div>
           </div>
          </ng-container>
          </div>
        <div class="clearfix"></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"  [disabled]="formProduct.invalid">Agregar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cerrar</button>
  </div>
</form>
</div>
