<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-center">
  <form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
    <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Descripción</label>
              <input type="text"  formControlName="descripcion" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Precio</label>
              <input type="text"  formControlName="precio" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
            <select class="selectpicker" data-style="select-with-transition" title="Single Select" formControlName="category">
               <option disabled>Seleccione Categoria</option>
               <option *ngFor="let c of categories"   value="2">{{c.descripcion}}</option>
            </select>
           </div>
          </div>
        </div>

        <div class="clearfix"></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Agregar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  </div>
</form>
</div>
