<div class="row" id="document" style="color: #000 !important">
    <div class="col-12 ">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="color: #000;"><b></b>Presupuesto número:<b>{{budget?.numero}}</b></h4>
        </div>
        <div class="col-12">
          <div class="col-6" style="color: #000;">Fecha: <b>{{today | date}}</b></div>
        </div>
      </div>    
        <div class="card">
          <div class="card-body" style="font-size: 1em;">
            <h4 class="" style="color: #000;">Cliente</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <h5 style="color: #000;" class="card-title">Raz&oacute;n Social : <small>{{budget?.cliente.razonSocial}}</small></h5>
                        <h5 style="color: #000;" class="card-title">Apellido y Nombre:  <small>{{budget?.cliente.apellido}}, {{budget?.cliente.nombre}}</small></h5>
                        <h5 style="color: #000;" class="card-title">Dirección:  <small>{{budget?.cliente.domicilio}}</small></h5>
                    </div>
                </div>
          </div>
        </div>
       
        <div class="card">
            <div class="card-body" style="font-size: 1em;">
            <h4 style="color: #000;">Productos</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Descripción</th>
                <th class="text-center">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of budget?.productos; index as i">
                <td>{{p.descripcion}}</td>
                <td class="text-center">{{p.precio}}</td>
              </tr>

              <tr>
                <td>Total</td>
                <td>{{budget?.total}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
  </div>
  </div>
  <button href="#" class="btn btn-round btn-fill btn-default disabled" (click)="makePDF()">Generar PDF</button>
