<div class="row" id="document">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Presupuesto</h4>
        </div>
        <div>
          <span>Presupuesto número:<b>{{budget.numero}}</b></span> <span class="pull-right">Fecha: <b>{{today | date:'h:mm a z'}}</b></span>
        </div>
      </div>
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Cliente</h4>
            <!-- <div class="card-category">Seleccione un Cliente</div> -->
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                <app-client-view [client]="budget.cliente"></app-client-view>
              </div>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        <div class="card">

  
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">Descripcion</div> 
            <div class="col-md-4">Precio</div>     
            <div class="col-md-4">Total</div>     
          </div>

          <div class="row" *ngFor="let p of budget.productos; index as i">
            <div class="col-md-4">{{p.descripcion}}</div> 
            <div class="col-md-4">{{p.precio}}</div>     
            <div class="col-md-4"></div>     
          </div>
          
          <div class="row">
            <div class="col-md-4"></div> 
            <div class="col-md-4"></div>     
            <div class="col-md-4">{{budget.total}}</div>     
          </div>
        </div>
        <button href="#" class="btn btn-round btn-fill btn-default disabled" (click)="makePDF()">Generar PDF</button>

    </div>
  </div>
  