<div class="sidebar" data-color="purple" data-background-color="white">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="simple-text logo-normal">
        <img src="./assets/img/SMG_logo.png" width="80" alt="Home" />
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/gestion']">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item dropdown"  routerLinkActive="active">
          <a data-toggle="collapse"  class="nav-link collapsed" href="#componentsExamples" data-target="#componentsExamples" aria-expanded="false">
            <i class="material-icons">shopping_cart</i>
            <p>Gestión</p>
          </a>
          <div class="collapse" id="componentsExamples" aria-expanded="false">
            <ul class="nav">
              <li routerLinkActive="active">
                <a  [routerLink]="['/productos']">
                  <i class="material-icons">vertical_split</i>
                  Productos
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown"  routerLinkActive="active">
          <a data-toggle="collapse" class="nav-link collapsed" href="#navbarDropdownMenuLinkPresupuestos" data-target="#navbarDropdownMenuLinkPresupuestos" aria-expanded="false">
            <i class="material-icons">book
            </i>
            <p>Presupuestos</p>
          </a>
          <div class="collapse" id="navbarDropdownMenuLinkPresupuestos">
            <ul class="nav">
              <li  routerLinkActive="active">
                <a class="dropdown-item" [routerLink]="['/presupuestos']">
                  <i class="material-icons">article</i>
                  Listar Presupuestos
              </a>
              </li>
              <li  routerLinkActive="active">
                <a class="dropdown-item"  [routerLink]="['/crearPresupuesto']">
                  <i class="material-icons">assignment_turned_in
                  </i>
                  Crear Presupuesto
                </a>
              </li>  
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown"  routerLinkActive="active">
          <a data-toggle="collapse" class="nav-link collapsed" href="#navbarDropdownMenuLinkClientes" data-target="#navbarDropdownMenuLinkClientes" aria-expanded="false">
            <i class="material-icons">accessibility_new
            </i>
            <p>Clientes</p>
          </a>
          <div class="collapse" id="navbarDropdownMenuLinkClientes">
            <ul class="nav">
            <li  routerLinkActive="active">
              <a class="dropdown-item" [routerLink]="['/clientes']">
                <i class="material-icons">assignment_turned_in</i>
                Listar Clientes
              </a>
           </li>
           </ul>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a data-toggle="collapse" class="nav-link collapsed" href="#navbarDropdownMenuLinkProveedores" data-target="#navbarDropdownMenuLinkProveedores" aria-expanded="false">
            <i class="material-icons">assignment_ind
            </i>
            <p>Proveedores</p>
          </a>
          <div class="collapse" id="navbarDropdownMenuLinkProveedores">
            <ul class="nav">
              <li  routerLinkActive="active">
                <a class="dropdown-item" [routerLink]="['/proveedores']">
                  <i class="material-icons">assignment_turned_in</i>
                  Listar Proveedores
               </a>
              </li> 
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a  data-toggle="collapse" class="nav-link collapsed" href="#navbarDropdownMenuLinkFacturas"  data-target="#navbarDropdownMenuLinkFacturas" aria-expanded="false">
            <i class="material-icons">receipt
            </i>
            <p>Facturas</p>
         </a>
          <div class="collapse" id="navbarDropdownMenuLinkFacturas">
            <ul class="nav">
              <li  routerLinkActive="active">
                <a class="dropdown-item" [routerLink]="['/facturas']">
                  <i class="material-icons">receipt</i>
                  Listar Facturas
                </a>
             </li>
             <li  routerLinkActive="active"> 
                <a class="dropdown-item"  [routerLink]="['/crearFactura']">
                  <i class="material-icons">request_page
                  </i>
                  Crear Factura
                </a>
             </li>
            </ul>
          </div>
        </li>
        <!--
        <li class="nav-item ">
          <a class="nav-link" href="./icons.html">
            <i class="material-icons">bubble_chart</i>
            <p>Icons</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./map.html">
            <i class="material-icons">location_ons</i>
            <p>Maps</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./notifications.html">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./rtl.html">
            <i class="material-icons">language</i>
            <p>RTL Support</p>
          </a>
        </li>
        <li class="nav-item active-pro ">
          <a class="nav-link" href="./upgrade.html">
            <i class="material-icons">unarchive</i>
            <p>Upgrade to PRO</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
