// .sidebar{
//   background-color: #0047;
// }


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    //color: #FFFFFF;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    display: block;
    height: auto;
    opacity: 1;
}

