<div class="row">
<div class="col-sm-6 pl-5">  
  <div class="alert alert-dark" role="alert">
  <small><strong> 
  Para registrar un cobro con cheque como parte de pago, recuerde cargar primero el cheque desde el apartado Gestión / Cheques
  </strong></small>
  </div>
</div>  
<div class="form-group col-sm-6 text-right pr-4">
  <button class="btn btn-outline-info" (click)="addNewClient()">  <i class="material-icons">person_add</i></button>
</div>
</div>
<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-primary">
      <div class="col-sm-6 col-md-6">
        <h4 class="card-title">Clientes</h4>
        <p class="card-category">{{today | date:'h:mm a z'}}</p>

     </div>
     <div class="col-sm-6 col-md-6">
       <app-search (filterEvent)="search($event)"></app-search>
     </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-warning">
          <th>Razón Social</th>
          <th>Contacto</th>
          <th>Domicilio</th>
          <th class="td-actions text-right">Acciones</th>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let c of clientes | filter: filterMatch;  let i = index; trackBy:trackBy"> -->
            <tr *ngFor="let c of clientes | filter: filterMatch | paginate: { itemsPerPage: 15, currentPage: page };  let i = index ">
            <td>{{c.razonSocial}} | {{c.cuil}}</td>
            <td>{{c.apellido}}, {{c.nombre}}</td>
            <td>{{c.calle}} {{c.numero}} - {{c.localidad.descripcion}} </td>
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-link btn-sm" (click)="currentAccount(c.id)">
                <i class="material-icons">calculate</i>
              </button>
              <button type="button" rel="tooltip" title="Ordenes de Pagos" class="btn btn-success btn-link btn-sm" (click)="bill(c.id)">
                <i class="material-icons">payment</i>
              </button>
              <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-link btn-sm" (click)="editClient(c.id)">
                <i class="material-icons">edit</i>
              </button>
              <!-- <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-link btn-sm" (click)="removeClient(c.id)">
                <i class="material-icons">close</i>
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>
  <div class="row text-center">                
    <pagination-controls responsive="true"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    class="pagination pt-3 pl-0" 
    (pageChange)="page = $event">
  </pagination-controls>
 </div>

