<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Presupuesto</h4>
        <p class="card-category"></p>
        <button class="btn btn-info float-right" (click)="addBudget()">Agregar Producto</button>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <thead>
              <tr>
                <th>Descripción</th>
                <th class="text-center">Valor</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of presupuesto; index as i; trackBy: trackByFn">
                <td>{{p.descripcion}}</td>
                <td class="text-center">{{p.precio}}</td>
                <td class="text-center">
                  <button class="btn btn-outline-info" (click)="removeElement(i)"><i class="fa fa-times text-danger"></i></button>
                  <button class="btn btn-outline-info" (click)="updateElement(i)"><i class="fa fa-edit  text-success"></i></button>
                </td>
              </tr>

              <tr>
                <td>TOTAL</td>
                <td class="text-center">
                  <td class="text-center">${{totalizador}}</td>
              </tr>
              <tr>
                <td class="text-center"></td>
                <td class="text-center">
                  <a href="#" class="btn btn-round btn-fill btn-default disabled">Generar PDF</a>
                </td>
                <td class="text-center">
                  <a target="_blank"class="btn btn-round btn-fill btn-info">Guardar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
