<div class="row" id="document">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Presupuesto</h4>
      </div>
      <div class="card-body">
        <span *ngIf="flagEdit">Presupuesto número: {{budgetRequest.numero}} </span> <span class="pull-right">Fecha: {{today | date:'h:mm a z'}}</span>
      </div>
    </div>
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Cliente</h4>
          <!-- <div class="card-category">Seleccione un Cliente</div> -->
          <button class="btn btn-info float-right" (click)="addNewClient()">  <i class="material-icons">person_add</i></button>

        </div>
        <div class="card-body">
          <form [formGroup]="listForm" (ngSubmit)="saveBudget()">
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 pt-1">
                  <ngx-select-dropdown [options]="clients" [config]="dropdownSetup" formControlName="client" (change)="selectClient()"></ngx-select-dropdown>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 text-center">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
              <app-client-view [client]="clientView"></app-client-view>
            </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Productos</h4>
        <p class="card-category"></p>
        <button class="btn btn-info float-right" (click)="addBudgetItem()">Agregar Producto</button>
      </div>

      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <thead>
              <tr>
                <th>Descripción</th>
                <th class="text-center">Valor</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of budgetRequest.productos; index as i">
                <td>{{p.descripcion}}</td>
                <td class="text-center">{{p.precio}}</td>
                <td class="text-center">
                  <button class="btn btn-outline-info" (click)="removeElement(i)"><i class="fa fa-times text-danger"></i></button>
                  <button class="btn btn-outline-info" (click)="updateElement(i)"><i class="fa fa-edit  text-success"></i></button>
                </td>
              </tr>

              <tr>
                <td>TOTAL</td>
                <td class="text-center">
                  <td class="text-center">${{totalizador}}</td>
              </tr>
              <tr>
                <td class="text-center"></td>
                <td class="text-center">
                  <!-- <button href="#" class="btn btn-round btn-fill btn-default disabled" (click)="makePDF()">Generar PDF</button> -->
                  <button href="#" class="btn btn-round btn-fill btn-default disabled" (click)="imprimirPDF()">Generar PDF</button>

                </td>
                <td class="text-center">
                  <button  *ngIf="!flagEdit" target="_blank"class="btn btn-round btn-fill btn-info" (click)="saveBudget()">Guardar</button>
                  <button  *ngIf="flagEdit" target="_blank"class="btn btn-round btn-fill btn-info" (click)="saveBudget()">Guardar los cambios</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>
</div>
