<div class="error-header row">
    <div class="container">
        <h3>NO TIENE PERMISOS PARA INGRESAR A ESA OPCION</h3>
        <h1 class="display-3">NO TIENE PERMISOS PARA INGRESAR A ESA OPCION</h1>
        <p>NO TIENE PERMISOS PARA INGRESAR A ESA OPCION </p>
        <!-- <p><a class="btn btn-primary btn-lg" (click)="redirectNetPro()" role="button">NO TIENE PERMISOS PARA INGRESAR A ESA OPCION</a></p> -->
    </div>
</div>
<div class="container error-content">
    <!-- <h4 class="pl-4 pt-2 pb-0">{{'UNAUTHORIZED.OPTIONS.TITLE' | translate}}</h4> -->
    <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item p-4">
            <a href="https://www.lasegunda.com.ar/empleo">{{'UNAUTHORIZED.OPTIONS.ITEMS.TEAM.TITLE' | translate}}</a>
            <p class="m-0">{{'UNAUTHORIZED.OPTIONS.ITEMS.TEAM.CAPTION' | translate}}</p>
        </li> -->
        <!-- <li class="list-group-item p-4">
            <a href="https://www.lasegunda.com.ar/agencias">{{'UNAUTHORIZED.OPTIONS.ITEMS.AGENCY.TITLE' | translate}}</a>
            <p class="m-0">{{'UNAUTHORIZED.OPTIONS.ITEMS.AGENCY.CAPTION' | translate}}</p>
        </li> -->
        <!-- <li class="list-group-item p-4">
            <a href="https://www.lasegunda.com.ar/contacto">{{'UNAUTHORIZED.OPTIONS.ITEMS.HELP.TITLE' | translate}}</a>
            <p class="m-0">{{'UNAUTHORIZED.OPTIONS.ITEMS.HELP.CAPTION' | translate}}</p>
        </li> -->
        <!-- <li class="list-group-item p-4">
            <a href="https://www.lasegunda.com.ar/home">{{'UNAUTHORIZED.OPTIONS.ITEMS.HOME.TITLE' | translate}}</a>
            <p class="m-0">{{'UNAUTHORIZED.OPTIONS.ITEMS.HOME.CAPTION' | translate}}</p>
        </li> -->
        <!-- <li class="list-group-item p-4">
            <a href="https://www.lasegunda.com.ar/canal-de-noticias">{{'UNAUTHORIZED.OPTIONS.ITEMS.NEWS.TITLE' | translate}}</a>
            <p class="m-0">{{'UNAUTHORIZED.OPTIONS.ITEMS.NEWS.CAPTION' | translate}}</p>
        </li> -->
    </ul>
</div>
